@import "../base/variables";

.additional-products__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 76px;
    min-height: 820px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    min-height: 288px;
    margin-bottom: 86px;
  }
}

.additional-products__inner-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  margin: 0;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) {
    margin-bottom: 97px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.additional-products__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
  }
}
