@import "../base/variables";

.button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-alternative-color;
  background-color: $background-additional-color;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }
}
