@import "../base/variables";

.catalog__wrapper {
  position: relative;
  padding: 0 20px;
  padding-top: 27px;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 75px;
  }
}

.catalog__title {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 44px;

  &::after {
    content: "";
    position: absolute;
    bottom: -36px;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}
