@import "../base/variables";

.characteristics-list {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $font-additional-color;
}

.characteristics-list__value {
  margin: 0;
}
