@import "../base/variables";

.copyright {
  color: $font-additional-color;
  text-decoration: none;

  &:hover .copyright__logo-image {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  fill: #666666;
}
