@import "../base/variables";

.food-kits {
  padding-left: 20px;
  padding-right: 20px;
}

.food-kits__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.food-kits__item {
  background-color: #f2f2f2;
}

.food-kits__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.food-kits__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $font-additional-color;
}

@media (min-width: $tablet-width) {
  .food-kits__wrapper {
    width: 708px;
    min-height: 772px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .food-kits__wrapper {
    width: 1220px;
    min-height: 374px;
  }

  .food-kits__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
