@import "../base/variables";

.input {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px;
  border: 1px solid #e7e7e7;
  color: #444444;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &--error {
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 20px;
  }
}

.input:focus + .input-icon--phone {
  fill: #68b738;
}

.input:focus + .input-icon--email {
  stroke: #68b738;
}

.input--error + .input-icon--phone {
  fill: #ff8282;
}

.input--error + .input-icon--email {
  stroke: #ff8282;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
