@import "../base/variables";

.invitation__wrapper {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    text-align: right;
  }
}

.invitation__text-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    position: relative;
    width: 1440px;
  }
}

.invitation__location {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    width: 89%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    padding: 60px 80px;
    top: 95px;
    left: 110px;
    background-color: #ffffff;
    width: 565px;
  }
}


.invitation__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $font-additional-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}

.invitation__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
    text-align: left;
  }
}

.invitation__city {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
