@import "../base/variables";

.line-title {
  display: inline-block;
  position: relative;
  padding-right: 22px;
  background-color: $background-primary-color;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;

    &--add-products {
      padding-left: 36px;
      margin-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      width: 100vw;
      height: 3px;
      margin-top: 2px;
      background: #68b738;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &--add-products {
      padding-left: 36px;
      margin-left: -36px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
  }
}

.line-title--contacts::after {
  @media (max-width: $desktop-width) {
    top: 25%;
  }
}
