@import "../base/variables";

.line-title {
  display: inline-block;
  position: relative;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 3px;
    margin-top: 2px;
    background: #68b738;
    z-index: -1;
  }

  &::before {
    left: 100%;
  }

  &::after {
    right: 100%;
  }
}
