@import "../base/variables";

.main-nav {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-nav__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.main-nav__inner-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__logo-text {
  flex-grow: 2;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo-image,
.main-nav__logo-text-image {
  display: inline-block;
}

.main-nav__logo-image {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.main-nav__toggle {
  position: relative;
  margin-left: auto;
  z-index: 2;
  display: block;
  height: 22px;
  width: 24px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__list {
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__inner-wrapper {
    justify-content: start;
    padding-right: 44px;
  }


  .main-nav--nojs .main-nav__list {
    display: block;
    position: static;
  }
}
