@import "../base/variables";

.main-nav {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.main-nav__logo {
  height: 65px;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1220px;
  }
}
