@import "../base/variables";

.nutrition-program-result {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, #eaeaea 462px, $background-primary-color 462px);
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, #f2f2f2 462px, $background-primary-color 462px);
    padding-bottom: 76px;
  }
}

.nutrition-program-result__wrapper {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    width: 92%;
    max-width: 1220px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1220px;
  }
}

.nutrition-program-result__description {
  @media (min-width: $desktop-width) {
    padding-top: 42px;
    width: 436px;
  }
}

.nutrition-program-result__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 150px;
  }
}

.nutrition-program-result__story {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font-additional-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.nutrition-program-result__inner-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.nutrition-program-result__list {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.nutrition-program-result__total-price {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: -18px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: static;
    justify-content: space-between;
    width: 328px;
    margin-bottom: 0;

    br {
      display: none;
    }
  }
}
