@import "../base/variables";

.nutrition-program-result {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eaeaea;
}

.nutrition-program-result__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.nutrition-program-result__story {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font-additional-color;
}

.nutrition-program-result__total-price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
