@import "../base/variables";

.radio-mark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #68b738;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.selection-form__radio:hover .radio-mark {
  border-color: #bababa;
}

.radio-input:focus:checked + .radio-mark {
  outline: 2px solid #444444;
}

.selection-form__radio-input:checked + .radio-mark::before {
  display: block;
}

.selection-form__radio-input:disabled + .radio-mark,
.selection-form__radio-input:disabled ~ .selection-form__radio-label {
  opacity: 0.3;
}
