@import "../base/variables";

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.site-list__link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 440px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 478px;
  }
}
