@import "../base/variables";

.slider-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 591px;
  }
}

.slider-result-image-wrapper {
  position: relative;
  min-height: 234px;
  width: 100%;


  @media (min-width: $tablet-width) {
    min-height: 510px;
  }
}

.slider-result__image {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;

  &--opened {
    display: block;
  }

  &--before {
    width: 280px;
    height: 232px;
  }

  &--after {
    width: 155px;
    height: 232px;
  }

  @media (min-width: $tablet-width) {
    &--before {
      width: auto;
      height: 520px;
    }

    &--after {
      width: auto;
      height: 520px;
    }
  }
}

.slider-result__text-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    width: 592px;
  }
}

.slider-result__range-bar {
  display: flex;
  position: relative;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    height: 6px;
    border-radius: 6px;
    background-color: #cdcdcd;
  }
}

.slider-result__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &--before {
    margin-right: 13px;
  }

  &--after {
    margin-left: 13px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 30px;

    &--before {
      margin-right: 23px;
    }

    &--after {
      margin-left: 23px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 0;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    }

    &:hover {
      &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }

    &:active {
      &::after {
        border-bottom: none;
      }
    }

    &--active {
      &::after {
        border-bottom: none;
      }

      &:hover {
        &::after {
          border: none;
        }
      }
    }
  }
}

.slider-result__range-button {
  position: relative;
  box-sizing: border-box;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    &--start {
      left: 0;
    }

    &--finish {
      right: 0;
    }
  }
}

.slider-result__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  border: none;

  @media (min-width: $tablet-width) {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

@media (max-width: $mobile-width-only) {
  .slider-result__range-button--start .slider-result__toggle {
    left: 5px;
  }

  .slider-result__range-button--finish .slider-result__toggle {
    right: 5px;
  }
}
