@import "../base/variables";

.slider-result {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 568px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 591px;
  }
}

.slider-result__images-wrapper {
  position: relative;
  min-height: 234px;
  width: 100%;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    min-height: 511px;
    width: 592px;
    margin-bottom: 0;
  }
}

.slider-result__image-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &--before {
    width: 280px;
    height: 232px;
  }

  &--after {
    width: 155px;
    height: 232px;
  }

  @media (max-width: $mobile-width-only) {
    &--mobile-closed {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    left: 0;
    transform: none;
    overflow: hidden;
    width: 592px;
    height: 520px;

    &--before {
      width: 100%;
      z-index: 100;
      background-image: linear-gradient(to top, #eaeaea 341px, $background-primary-color 341px);
    }

    &--after {
      width: 100%;
      background-image: linear-gradient(to top, #eaeaea 341px, $background-primary-color 341px);
    }
  }

  @media (min-width: $desktop-width) {
    &--before {
      background-image: linear-gradient(to top, #f2f2f2 341px, $background-primary-color 341px);
    }

    &--after {
      background-image: linear-gradient(to top, #f2f2f2 341px, $background-primary-color 341px);
    }
  }
}

.slider-result__image {
  object-fit: contain;

  &--before {
    width: 280px;
    height: 232px;
  }

  &--after {
    width: 155px;
    height: 232px;
  }

  @media (min-width: $tablet-width) {
    object-fit: none;
    height: 100%;
    width: 592px;
    min-width: 592px;
  }
}

.slider-result__text-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.slider-result__mobile-button {
  @media (max-width: $mobile-width-only) {
    position: relative;
    width: 86px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
  }
}

.slider-result__mobile-inner-button {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    width: 36px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    border-radius: 6px;
    background-color: #68b738;

    &--after {
      right: 6px;
      left: auto;
    }
  }
}

.slider-result__range-bar {
  display: none;
  position: relative;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 434px;
  }
}

.noUi-target {
  @media (min-width: $tablet-width) {
    height: 6px;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    background-color: #cdcdcd;
  }
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  width: 34px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 34px;
  top: -14px;
}

.slider-result__input {
  width: 100%;
}

.slider-result__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &--before {
    margin-right: 10px;
  }

  &--after {
    margin-left: 10px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 20px;
    line-height: 30px;

    &--before {
      margin-right: 23px;
    }

    &--after {
      margin-left: 23px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      height: 0;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    }

    &:hover {
      &::after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }

    &--active {
      &::after {
        border-bottom: none;
      }
    }
  }
}

