//font-colors

$font-primary-color: #000000;
$font-additional-color: #444444;
$font-alternative-color: #ffffff;

//background-colors

$background-primary-color: #ffffff;
$background-additional-color: #68b738;
