//font-colors

$font-primary-color: #000000;
$font-additional-color: #444444;
$font-alternative-color: #ffffff;

//background-colors

$background-primary-color: #ffffff;
$background-additional-color: #68b738;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$destop-width-only: 1439px;
